langchain
langchain-community
langchain-openai
faiss-cpu
pymupdf
pandas
python-dotenv
pydantic
tabulate
faiss-cpu 
sentence-transformers
langchain-google-genai
dateparser
fastapi 
uvicorn
python-multipart